<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Fontes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Amicão - Nosso amigo bicho</title>
    <!--script-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/2473a024e9.js" crossorigin="anonymous"></script>
    <!--ProgressBar-->
    <script src="js/progressbar.min.js"></script>
    <!--Paralax-->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    <script src="js/scripts.js"></script>
</head>

<body onload="addNewCard()">

    <header>
        <div class="container" id="nav-container">
            <nav class="navbar navbar-expand-lg fixed-top">
                <a th:href="@{/index}" class="navbar-brand">
                    <img id="logo" src="/img/logoOng.png" alt="ONG AMICÃO">ONG AMICÃO (ESPAÇO ADM)
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                    <div class="navbar-nav">
                        <a th:href="@{/index}" class="nav-item nav-link" id="home-menu"><i class="fa-sharp fa-solid fa-house"></i> Home</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
        <div class="container" style="margin-top: 50px;">
            <h4>+ Requisição de adoção</h4>
            <hr>
            <form method="post" action="/alterarReq" th:object="${req}">
                <input type="hidden" th:field="*{id}">
                <div class="row">

                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Nome usuário</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex: mauricio" type="text" th:field="*{nome}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nomePet')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Nome pet</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex: mauricio" type="text" th:field="*{nomePet}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Cpf</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex: 000.000.000-00" type="text" th:field="*{cpf}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Email</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex: mauricio@gmail.com" type="text" th:field="*{email}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Data Nascimento</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex:05/05/1989" type="text" th:field="*{dataNasc}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Rua</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex:Espirito Santo" type="text" th:field="*{rua}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Cep</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex:000.000.00" type="text" th:field="*{cep}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Cidade</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex:Araucaria" type="text" th:field="*{cidade}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Estado</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex:Parana" type="text" th:field="*{estado}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Telefone</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex: (41)99999-9999" type="tel" th:field="*{telefone}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Número da residencia</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex: Nº25" type="text" th:field="*{numeroCasa}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Bairro</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex:bairro cachoeira" type="text" th:field="*{bairro}">
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Motivo da adoção</label>
                        <textarea name="message" id="message" rows="3" cols="60" th:field="*{motivoAdocao}">digite uma mensagem</textarea> 
                    </div>
                    <div class="col-md-6 form-group offset-md-3">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label class="validation-message" th:errors="*{nome}"></label>
                        </div>
                        <label for="nome">Status</label>
                        <input name="nome" id="nome" required minlength="1" maxlength="50
                        " class="form-control" placeholder="Ex:qual motivo até 350 caracteres" type="text" th:field="*{statusAdoc}">
                    </div>
                    
                    

                    <div class="botao1">
                        <button type="submit" class="btn btn-success offset-md-10 "
                            style="margin-top: 3px;">APROVAR</button>

                        <a class="btn btn-success offset-md-10" th:href="@{/Pet-AdicionadosReq}" style="margin-top: 10px;">
                            VOLTAR
                        </a>

                    </div>



                </div>
                <script src="/webjars/jquery/3.6.1/jquery.min.js"></script>
                <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

            </form>

        </div>
    </section>

</body>

</html>